{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  <p>The client uses MS Excel to maintain Record of Lead, manual process for getting record of
    Leads from specific website and uses online tools for email verification. There is lot of
    duplicate work, and chance of mistake. There is no security. This work is time consuming
    and Man power consuming. This Lead Generation Automation Tool is used to overcome the
    entire problem which they are facing currently and making complete Automation Tool for
    Lead Generation.
  </p>
{% endblock %}
