{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Lead Generation Automation Tool</h1>
    <p class="lead">The client uses MS Excel to maintain Record of Lead, manual process for getting record of
      Leads from specific website and uses online tools for email verification. There is lot of
      duplicate work, and chance of mistake. There is no security. This work is time consuming
      and Man power consuming. This Lead Generation Automation Tool is used to overcome the
      entire problem which they are facing currently and making complete Automation Tool for
      Lead Generation.</p>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>
{% endblock %}
